## Loading Data

#### Load pre-existing dataset from sklearn

In [1]:
from sklearn import datasets

digits = datasets.load_digits() # load dataset
digits # view its columns
features = digits.data # load features matrix
target = digits.target # load target matrix
features[0] # view first row

array([ 0.,  0.,  5., 13.,  9.,  1.,  0.,  0.,  0.,  0., 13., 15., 10.,
       15.,  5.,  0.,  0.,  3., 15.,  2.,  0., 11.,  8.,  0.,  0.,  4.,
       12.,  0.,  0.,  8.,  8.,  0.,  0.,  5.,  8.,  0.,  0.,  9.,  8.,
        0.,  0.,  4., 11.,  0.,  1., 12.,  7.,  0.,  0.,  2., 14.,  5.,
       10., 12.,  0.,  0.,  0.,  0.,  6., 13., 10.,  0.,  0.,  0.])

#### Load pre-existing dataset from tensorflow

In [2]:
from keras.datasets import mnist

(train_images, train_target), (test_images, test_target) =\
    mnist.load_data()

Using TensorFlow backend.

#### Load csv file

In [4]:
import pandas as pd

url = 'https://tinyurl.com/titanic-csv'

titanic = pd.read_csv(url) # load csv file
titanic.head()

,Name,PClass,Age,Sex,Survived,SexCode
0,"Allen, Miss Elisabeth Walton",1st,29.00,female,1,1
1,"Allison, Miss Helen Loraine",1st,2.00,female,0,1
2,"Allison, Mr Hudson Joshua Creighton",1st,30.00,male,0,0
3,"Allison, Mrs Hudson JC (Bessie Waldo Daniels)",1st,25.00,female,0,1
4,"Allison, Master Hudson Trevor",1st,0.92,male,1,0